@using EntityLayer.Concrete
@model List<Comment>
<h3 class="mb-5">Comments</h3>
<ul class="comment-list">
    @foreach (var item in Model)
    {
        <li class="comment">
            <div class="vcard bio">
                <img src="~/UserImage/man.png" alt="Image">
            </div>
            <div class="comment-body">
                <h3>@item.CommentUser</h3>
                <div class="meta">
                    @(((DateTime)item.CommentDate).ToString("dd/MM/yyyy"))
                </div>
                <p>@item.CommentContent</p>
               @* <p><a href="#" class="reply">Reply</a></p>*@
            </div>
        </li>
    }      
</ul>