@model EntityLayer.Concrete.Team
@{
    ViewData["Title"] = "TeamDelete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card my-3">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-center"> Tur Rehberi Bilgileri Silme Sayfası</h1>
            <p class="card-description"> Bu alan üzerinden tur rehberinizin bilgilerini silmek istediğinize emin misiniz? </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <img src="/@ViewBag.ImageUrl" alt="Image" class="img-fluid mb-4 rounded-circle" style="width: 260px; height:260px">
                    <input type="hidden" class="form-control" asp-for="ImageUrl" placeholder="Rehber Fotoğrafı" readonly>
                </div>
                <div class="form-group">
                    <label>Rehber Adı</label>
                    <input type="text" class="form-control" asp-for="FirstName" placeholder="Rehber Adı" readonly>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Rehber Soyadı</label>
                    <input type="text" class="form-control" asp-for="LastName" placeholder="Rehber Soyadı" readonly>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Unvan</label>
                    <input type="text" class="form-control" asp-for="Degree" placeholder="Unvan" readonly>
                    <span asp-validation-for="Degree" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Özgeçmiş</label>
                    <textarea class="form-control" asp-for="Resume" rows="4" readonly></textarea>
                    <span asp-validation-for="Resume" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="exampleInputCategory">Facebook Url</label>
                    <input type="text" class="form-control" asp-for="FacebookUrl" placeholder="Facebook Url" readonly>
                    <span asp-validation-for="FacebookUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Instagram Url</label>
                    <input type="text" class="form-control" asp-for="InstagramUrl" placeholder="Instagram Url" readonly>
                    <span asp-validation-for="InstagramUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Twitter Url</label>
                    <input type="text" class="form-control" asp-for="TwitterUrl" placeholder="Twitter Url" readonly>
                    <span asp-validation-for="TwitterUrl" class="text-danger"></span>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <button type="submit" class="btn btn-danger mr-2">Sil</button>
                <a href="/Admin/Team/TeamList" class="btn btn-dark">Vazgeç</a>
            </form>
        </div>
    </div>
</div>

