@using EntityLayer.Concrete
@model List<Team>
@{
    ViewData["Title"] = "TeamList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="white_shd full margin_bottom_30 my-3">
    <div class="full graph_head">
        <div class="heading1 margin_0">
            <h2 class="text-center"> Tur Rehberleri Listesi </h2>
        </div>
    </div>
    <div class="table_section padding_infor_info">
        <div class="table-responsive-sm">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Rehber Adı</th>
                        <th>Rehber Soyadı</th>
                        <th>Unvan</th>
                        <th>Detay</th>
                        <th>Güncelle</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.Id</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td> @item.Degree</td>
                            <td>
                                <a href="/Admin/Team/TeamDetails/@item.Id" class="badge badge-primary">
                                    Rehber Detayları
                                </a>
                            </td>
                            <td>
                                <a href="/Admin/Team/TeamUpdate/@item.Id" class="badge badge-success">
                                    Güncelle
                                </a>
                            </td>
                            <td>
                                <a href="/Admin/Team/TeamDelete/@item.Id" class="badge badge-danger">
                                    Sil
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Admin/Team/TeamAdd" class="btn btn-primary"> Rehber Ekle </a>
        </div>
    </div>
</div>
