<head>
    <title>Trips &mdash; Gezi Blogu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/trips-master/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/trips-master/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/trips-master/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/trips-master/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/trips-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/trips-master/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/trips-master/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/trips-master/css/aos.css">
    <link rel="stylesheet" href="~/trips-master/css/style.css">
</head>
