@model TripsBlogCoreProject.Areas.Admin.Models.RoleViewModel
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card my-3">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-center"> Rol Ekleme Alanı </h1>
            <p class="card-description"> Bu alan üzerinden rol ekleyebilirsiniz. </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Rol Başlığı </label>
                    <input type="text" class="form-control" placeholder="Rol Başlığınız" asp-for="name">
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <a href="/Admin/AdminRol/Index" class="btn btn-dark">Vazgeç</a>
            </form>
        </div>
    </div>
</div>