
<div class="profile-pic">
    <div class="count-indicator">
        <img class="img-xs rounded-circle " src="~/@ViewBag.Image" alt="">
        <span class="count bg-success"></span>
    </div>
    <div class="profile-name">
        <h5 class="mb-0 font-weight-normal">@ViewBag.Name</h5>
        <span>
            Yazar
        </span>
    </div>
</div>