<a class="dropdown-toggle" data-toggle="dropdown">
    <img class="img-responsive rounded-circle"
         src="~/@ViewBag.Image" alt="#" />
    <span class="name_user">
        @ViewBag.Name

    </span>
</a>