<div class="topbar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="full">
            <button type="button" id="sidebarCollapse" class="sidebar_toggle">
                <i class="fa fa-bars"></i></button>
@*            <div class="logo_section">
                <a href="index.html">
                    <img class="img-responsive" src="" alt="#" />
                </a>
            </div>*@
            <div class="right_topbar">
                <div class="icon_info">
                    <ul class="user_profile_dd">
                        <li>
                            @await Component.InvokeAsync("_AdminProfile")
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Admin/Profile/Index">My Profile</a>
                                <a class="dropdown-item" href="/Admin/Profile/ProfileUpdate">Şifre Güncelle</a>
                                <a class="dropdown-item" href="/Admin/Profile/LogOut"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>