@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "CategoryDelete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <div class="col-sm-11 grid-margin stretch-card my-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center"> Kategori Silme</h1>
                <p class="card-description"> Bu alan üzerinden Kategori silmek istediğinize emin misiniz? </p>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label for="exampleInputName1">Kategori Adı</label>
                        <input type="text" class="form-control" asp-for="CategoryName" placeholder="Kategori Adı" readonly>
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <button type="submit" class="btn btn-primary mr-2">Sil</button>
                    <a href="/Admin/Category/CategoryList" class="btn btn-dark">Vazgeç</a>
                </form>
            </div>
        </div>
    </div>
</div>

