@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "CategoryUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="col-sm-11 grid-margin stretch-card my-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center"> Kategori Güncelleme</h1>
                <p class="card-description"> Bu alan üzerinden Kategori güncelleyebilirsiniz.. </p>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label for="exampleInputName1">Kategori Adı</label>
                        <input type="text" class="form-control" asp-for="CategoryName" placeholder="Kategori Adı">
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="Status">
                            Durum
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </label>
                    </div>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
                    <a href="/Admin/Category/CategoryList" class="btn btn-dark">Vazgeç</a>
                </form>
            </div>
        </div>
    </div>
</div>

