<div class="sidebar_user_info">
    <div class="icon_setting"></div>
    <div class="user_profle_side">
        <div class="user_img">
            <img class="img-responsive" src="~/@ViewBag.Image" alt="#" />
        </div>
        <div class="user_info">
            <h6>@ViewBag.Name</h6>
            <p><span class="online_animation"></span> Admin </p>
        </div>
    </div>
</div>