@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "BlogUpdate";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-center"> Blog Güncelleme</h1>
            <p class="card-description"> Bu alan üzerinden blog güncelleyebilirsiniz. </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>Blog Adı</label>
                    <input type="text" class="form-control" asp-for="BlogName" placeholder="Blog Adı">
                    <span asp-validation-for="BlogName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Blog Özet</label>
                    <input type="text" class="form-control" asp-for="BlogShortDescription" placeholder="Blog Özet">
                    <span asp-validation-for="BlogShortDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Tarih</label>
                    <input type="date" class="form-control" asp-for="BlogDate" placeholder="Tarih">
                    <span asp-validation-for="BlogDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Kategori</label>
                    @Html.DropDownListFor(x=> x.CategoryId, (List<SelectListItem>)ViewBag.Categories, new {@class= "form-control"})
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Tanıtım Resim</label>
                    <input type="text" class="form-control" asp-for="ThumbNail" placeholder="Tanıtım Resim">
                    <span asp-validation-for="ThumbNail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Resim</label>
                    <input type="text" class="form-control" asp-for="ImageUrl" placeholder="Resim">
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" asp-for="AppUserId" placeholder="UserID">
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    <textarea class="form-control" asp-for="BlogDescription" rows="4"></textarea>
                    <span asp-validation-for="BlogDescription" class="text-danger"></span>
                </div>
                <div class="form-check">
                    <input type="hidden" class="form-check-input" asp-for="Status" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <button type="submit" class="btn btn-primary mr-2">Güncelleme</button>
                <a href="/Writer/Blog/BlogList" class="btn btn-dark">Vazgeç</a>
            </form>
        </div>
    </div>
</div>
