@{
    ViewData["Title"] = "_AdminLayout";
}

<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Views/_AdminLayoutPartial/_HeaderPartial.cshtml")
<body class="dashboard dashboard_1">
    <div class="full_container">
        <div class="inner_container">
            @await Html.PartialAsync("/Views/_AdminLayoutPartial/_SidebarPartial.cshtml")
            <div id="content">
                @await Html.PartialAsync("/Views/_AdminLayoutPartial/_NavbarPartial.cshtml")
              @RenderBody()
            </div>
        </div>
    </div>
    @await Html.PartialAsync("/Views/_AdminLayoutPartial/_ScriptPartial.cshtml")
</body>
</html>